[submodule "config/nvim"]
	path = config/nvim
	url = https://github.com/binarstrike/nvim-config.git
[submodule "config/tmux/plugins/tpm"]
	path = config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
